.outcard {
  padding: 25px;
  margin-left: 22%;
  width: 50%;
  box-shadow: 0 1px 2px 1px #ddd;
  border-radius: 3px;
}

/* .card {
  box-shadow: 0 1px 2px 1px #ddd;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
} */

.inputs {
  width: 93%;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 10px;
  margin-top: 15px;
}

.input-name {
  color: #444;
  margin-top: 20px;
  font-weight: 500;
}

.btn {
  background-color: #0050b1;
  color: #fff;
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.center {
  text-align: center;
}
